name: Generate GitHub Stats Cards

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Stats Cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: arthuradev
          BRANCH_NAME: stats
          UTC_OFFSET: -3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
